@charset "UTF-8";
/* ==========================================================================
 Foundation
========================================================================== */

/* ==========================================================================
 Reset
========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, mark {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  font-style: normal;
  font-weight: inherit;
  margin: 0;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

:focus {
  outline: 0 none; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

picture {
  line-height: 1; }

img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

h1, h2, h3, h4, h5, h6, p, div {
  word-wrap: break-word; }

button, input, textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background-color: transparent;
  display: block; }

::-moz-focus-inner {
  border: 0px; }

select::-ms-expand {
  display: none; }

/* ==========================================================================
 Webfont
========================================================================== */
body, input, button, textarea, select {
  font-family: 'Noto Sans JP', sans-serif; }

/* ==========================================================================
 Base
========================================================================== */
html {
  overflow-y: scroll;
  font-size: 0.625em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Osaka',Arial,Helvetica,sans-serif;
  line-height: 1.4;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  -webkit-font-feature-settings: 'palt';
          font-feature-settings: 'palt'; }

input, button, textarea, select {
  font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','Osaka',Arial,Helvetica,sans-serif; }

img {
  vertical-align: top;
  max-width: 100%;
  width: auto;
  height: auto;
  -webkit-user-drag: none;
  user-drag: none; }

canvas {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

a, button {
  -webkit-transition: color cubic-bezier(0.13, 1.05, 0.96, 1), opacity cubic-bezier(0.13, 1.05, 0.96, 1), background-color cubic-bezier(0.13, 1.05, 0.96, 1);
  transition: color cubic-bezier(0.13, 1.05, 0.96, 1), opacity cubic-bezier(0.13, 1.05, 0.96, 1), background-color cubic-bezier(0.13, 1.05, 0.96, 1);
  color: #0277bd;
  text-decoration: none;
  cursor: pointer; }
  a:active, a:hover, button:active, button:hover {
    opacity: .8; }

sup,
sub {
  font-size: .6em; }

sup {
  vertical-align: top; }

sub {
  vertical-align: bottom; }

/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  color: #a0a0a0; }

/* Firefox 18- */
:-moz-placeholder {
  color: #a0a0a0; }

/* Firefox 19+ */
::-moz-placeholder {
  color: #a0a0a0; }

/* IE 10+ */
:-ms-input-placeholder {
  color: #a0a0a0; }

:placeholder-shown {
  color: #a0a0a0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

/* ==========================================================================
 Layout
========================================================================== */
/* ==========================================================================
 Wrapper
========================================================================== */
/* ==========================================================================
 Header
========================================================================== */
/* ==========================================================================
 Nav
========================================================================== */
/* ==========================================================================
 Main
========================================================================== */
/* ==========================================================================
 Footer
========================================================================== */
/* ==========================================================================
 Object
========================================================================== */
/* -----------------------------------------------------------------
 Component
----------------------------------------------------------------- */
/* ==========================================================================
 keyframe
========================================================================== */
/* -----------------------------------------------------------------
 Project
----------------------------------------------------------------- */
/* -----------------------------------------------------------------
 Utility
----------------------------------------------------------------- */
/* ==========================================================================
 vertical-align
========================================================================== */
.u-va-t {
  vertical-align: top !important; }

.u-va-m {
  vertical-align: middle !important; }

.u-va-b {
  vertical-align: bottom !important; }

.u-va-bl {
  vertical-align: baseline !important; }

/* ==========================================================================
 border
========================================================================== */
.u-br-4 {
  border-radius: 4px; }

.u-br-8 {
  border-radius: 8px; }

.u-br-12 {
  border-radius: 12px; }

.u-br-16 {
  border-radius: 16px; }

/* border-none */
.u-br-0 {
  border: none; }

.u-br-t-0 {
  border-top: none; }

.u-br-r-0 {
  border-right: none; }

.u-br-b-0 {
  border-bottom: none; }

.u-br-l-0 {
  border-left: none; }

/* ==========================================================================
 clearfix
========================================================================== */
.u-cf {
  min-height: 1%; }
  .u-cf:after {
    clear: both;
    content: ".";
    height: 0;
    visibility: hidden; }

/* ==========================================================================
 display
========================================================================== */
.u-d-tb {
  display: table !important; }

.u-d-tbc {
  display: table-cell !important; }

.u-d-b {
  display: block !important; }

.u-d-ib {
  display: inline-block !important; }

.u-d-i {
  display: inline !important; }

.u-d-n {
  display: none !important; }

.u-d-f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

@media screen and (max-width: 767px) {
  .u-d-tb-sp {
    display: table !important; }
  .u-d-tbc-sp {
    display: table-cell !important; }
  .u-d-b-sp {
    display: block !important; }
  .u-d-ib-sp {
    display: inline-block !important; }
  .u-d-i-sp {
    display: inline !important; }
  .u-d-n-sp {
    display: none !important; }
  .u-d-f-sp {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

/* ==========================================================================
 float
========================================================================== */
.u-fl-l {
  float: left !important; }

.u-fl-r {
  float: right !important; }

.u-fl-n {
  float: none !important; }

@media screen and (max-width: 767px) {
  .u-fl-l-sp {
    float: left !important; }
  .u-fl-r-sp {
    float: right !important; }
  .u-fl-n-sp {
    float: none !important; } }

/* ==========================================================================
 font-size
========================================================================== */
.u-fz-10 {
  font-size: 1rem !important; }

.u-fz-12 {
  font-size: 1.2rem !important; }

.u-fz-14 {
  font-size: 1.4rem !important; }

.u-fz-16 {
  font-size: 1.6rem !important; }

.u-fz-18 {
  font-size: 1.8rem !important; }

.u-fz-20 {
  font-size: 2rem !important; }

.u-fz-22 {
  font-size: 2.2rem !important; }

.u-fz-24 {
  font-size: 2.4rem !important; }

.u-fz-26 {
  font-size: 2.6rem !important; }

@media screen and (max-width: 767px) {
  .u-fz-sp-10 {
    font-size: 1rem !important; }
  .u-fz-sp-12 {
    font-size: 1.2rem !important; }
  .u-fz-sp-14 {
    font-size: 1.4rem !important; }
  .u-fz-sp-16 {
    font-size: 1.6rem !important; }
  .u-fz-sp-18 {
    font-size: 1.8rem !important; }
  .u-fz-sp-20 {
    font-size: 2rem !important; }
  .u-fz-sp-22 {
    font-size: 2.2rem !important; }
  .u-fz-sp-24 {
    font-size: 2.4rem !important; }
  .u-fz-sp-26 {
    font-size: 2.6rem !important; } }

/* ==========================================================================
 font-weight
========================================================================== */
.u-fw-thin {
  font-weight: 100 !important; }

.u-fw-light {
  font-weight: 300 !important; }

.u-fw-regular {
  font-weight: 400 !important; }

.u-fw-medium {
  font-weight: 500 !important; }

.u-fw-bold {
  font-weight: 700 !important; }

.u-fw-black {
  font-weight: 900 !important; }

/* ==========================================================================
 color
========================================================================== */
.u-clr-white {
  color: #fff !important; }

.u-clr-black {
  color: #000 !important; }

.u-clr-inherit {
  color: inherit !important; }

/* ==========================================================================
 margin
========================================================================== */
.u-m-c {
  margin-right: auto !important;
  margin-left: auto !important; }

/* Top margin */
.u-mt-0 {
  margin-top: 0px !important; }

.u-mt-5 {
  margin-top: 5px !important; }

.u-mt-10 {
  margin-top: 10px !important; }

.u-mt-15 {
  margin-top: 15px !important; }

.u-mt-20 {
  margin-top: 20px !important; }

.u-mt-25 {
  margin-top: 25px !important; }

.u-mt-30 {
  margin-top: 30px !important; }

.u-mt-35 {
  margin-top: 35px !important; }

.u-mt-40 {
  margin-top: 40px !important; }

.u-mt-45 {
  margin-top: 45px !important; }

.u-mt-50 {
  margin-top: 50px !important; }

.u-mt-55 {
  margin-top: 55px !important; }

.u-mt-60 {
  margin-top: 60px !important; }

.u-mt-65 {
  margin-top: 65px !important; }

.u-mt-70 {
  margin-top: 70px !important; }

.u-mt-75 {
  margin-top: 75px !important; }

.u-mt-80 {
  margin-top: 80px !important; }

.u-mt-85 {
  margin-top: 85px !important; }

.u-mt-90 {
  margin-top: 90px !important; }

.u-mt-95 {
  margin-top: 95px !important; }

.u-mt-100 {
  margin-top: 100px !important; }

.u-mt-105 {
  margin-top: 105px !important; }

.u-mt-110 {
  margin-top: 110px !important; }

.u-mt-115 {
  margin-top: 115px !important; }

.u-mt-120 {
  margin-top: 120px !important; }

/* Right margin */
.u-mr-0 {
  margin-right: 0px !important; }

.u-mr-5 {
  margin-right: 5px !important; }

.u-mr-10 {
  margin-right: 10px !important; }

.u-mr-15 {
  margin-right: 15px !important; }

.u-mr-20 {
  margin-right: 20px !important; }

.u-mr-25 {
  margin-right: 25px !important; }

.u-mr-30 {
  margin-right: 30px !important; }

.u-mr-35 {
  margin-right: 35px !important; }

.u-mr-40 {
  margin-right: 40px !important; }

.u-mr-45 {
  margin-right: 45px !important; }

.u-mr-50 {
  margin-right: 50px !important; }

.u-mr-55 {
  margin-right: 55px !important; }

.u-mr-60 {
  margin-right: 60px !important; }

.u-mr-65 {
  margin-right: 65px !important; }

.u-mr-70 {
  margin-right: 70px !important; }

.u-mr-75 {
  margin-right: 75px !important; }

.u-mr-80 {
  margin-right: 80px !important; }

.u-mr-85 {
  margin-right: 85px !important; }

.u-mr-90 {
  margin-right: 90px !important; }

.u-mr-95 {
  margin-right: 95px !important; }

.u-mr-100 {
  margin-right: 100px !important; }

.u-mr-105 {
  margin-right: 105px !important; }

.u-mr-110 {
  margin-right: 110px !important; }

.u-mr-115 {
  margin-right: 115px !important; }

.u-mr-120 {
  margin-right: 120px !important; }

/* Bottom margin */
.u-mb-0 {
  margin-bottom: 0px !important; }

.u-mb-5 {
  margin-bottom: 5px !important; }

.u-mb-10 {
  margin-bottom: 10px !important; }

.u-mb-15 {
  margin-bottom: 15px !important; }

.u-mb-20 {
  margin-bottom: 20px !important; }

.u-mb-25 {
  margin-bottom: 25px !important; }

.u-mb-30 {
  margin-bottom: 30px !important; }

.u-mb-35 {
  margin-bottom: 35px !important; }

.u-mb-40 {
  margin-bottom: 40px !important; }

.u-mb-45 {
  margin-bottom: 45px !important; }

.u-mb-50 {
  margin-bottom: 50px !important; }

.u-mb-55 {
  margin-bottom: 55px !important; }

.u-mb-60 {
  margin-bottom: 60px !important; }

.u-mb-65 {
  margin-bottom: 65px !important; }

.u-mb-70 {
  margin-bottom: 70px !important; }

.u-mb-75 {
  margin-bottom: 75px !important; }

.u-mb-80 {
  margin-bottom: 80px !important; }

.u-mb-85 {
  margin-bottom: 85px !important; }

.u-mb-90 {
  margin-bottom: 90px !important; }

.u-mb-95 {
  margin-bottom: 95px !important; }

.u-mb-100 {
  margin-bottom: 100px !important; }

.u-mb-105 {
  margin-bottom: 105px !important; }

.u-mb-110 {
  margin-bottom: 110px !important; }

.u-mb-115 {
  margin-bottom: 115px !important; }

.u-mb-120 {
  margin-bottom: 120px !important; }

/* Left margin */
.u-ml-0 {
  margin-left: 0px !important; }

.u-ml-5 {
  margin-left: 5px !important; }

.u-ml-10 {
  margin-left: 10px !important; }

.u-ml-15 {
  margin-left: 15px !important; }

.u-ml-20 {
  margin-left: 20px !important; }

.u-ml-25 {
  margin-left: 25px !important; }

.u-ml-30 {
  margin-left: 30px !important; }

.u-ml-35 {
  margin-left: 35px !important; }

.u-ml-40 {
  margin-left: 40px !important; }

.u-ml-45 {
  margin-left: 45px !important; }

.u-ml-50 {
  margin-left: 50px !important; }

.u-ml-55 {
  margin-left: 55px !important; }

.u-ml-60 {
  margin-left: 60px !important; }

.u-ml-65 {
  margin-left: 65px !important; }

.u-ml-70 {
  margin-left: 70px !important; }

.u-ml-75 {
  margin-left: 75px !important; }

.u-ml-80 {
  margin-left: 80px !important; }

.u-ml-85 {
  margin-left: 85px !important; }

.u-ml-90 {
  margin-left: 90px !important; }

.u-ml-95 {
  margin-left: 95px !important; }

.u-ml-100 {
  margin-left: 100px !important; }

.u-ml-105 {
  margin-left: 105px !important; }

.u-ml-110 {
  margin-left: 110px !important; }

.u-ml-115 {
  margin-left: 115px !important; }

.u-ml-120 {
  margin-left: 120px !important; }

@media screen and (max-width: 767px) {
  /* Top margin */
  .u-mt-sp-0 {
    margin-top: 0px !important; }
  .u-mt-sp-5 {
    margin-top: 5px !important; }
  .u-mt-sp-10 {
    margin-top: 10px !important; }
  .u-mt-sp-15 {
    margin-top: 15px !important; }
  .u-mt-sp-20 {
    margin-top: 20px !important; }
  .u-mt-sp-25 {
    margin-top: 25px !important; }
  .u-mt-sp-30 {
    margin-top: 30px !important; }
  .u-mt-sp-35 {
    margin-top: 35px !important; }
  .u-mt-sp-40 {
    margin-top: 40px !important; }
  .u-mt-sp-45 {
    margin-top: 45px !important; }
  .u-mt-sp-50 {
    margin-top: 50px !important; }
  .u-mt-sp-55 {
    margin-top: 55px !important; }
  .u-mt-sp-60 {
    margin-top: 60px !important; }
  .u-mt-sp-65 {
    margin-top: 65px !important; }
  .u-mt-sp-70 {
    margin-top: 70px !important; }
  .u-mt-sp-75 {
    margin-top: 75px !important; }
  .u-mt-sp-80 {
    margin-top: 80px !important; }
  .u-mt-sp-85 {
    margin-top: 85px !important; }
  .u-mt-sp-90 {
    margin-top: 90px !important; }
  .u-mt-sp-95 {
    margin-top: 95px !important; }
  .u-mt-sp-100 {
    margin-top: 100px !important; }
  .u-mt-sp-105 {
    margin-top: 105px !important; }
  .u-mt-sp-110 {
    margin-top: 110px !important; }
  .u-mt-sp-115 {
    margin-top: 115px !important; }
  .u-mt-sp-120 {
    margin-top: 120px !important; }
  /* Right margin */
  .u-mr-sp-0 {
    margin-right: 0px !important; }
  .u-mr-sp-5 {
    margin-right: 5px !important; }
  .u-mr-sp-10 {
    margin-right: 10px !important; }
  .u-mr-sp-15 {
    margin-right: 15px !important; }
  .u-mr-sp-20 {
    margin-right: 20px !important; }
  .u-mr-sp-25 {
    margin-right: 25px !important; }
  .u-mr-sp-30 {
    margin-right: 30px !important; }
  .u-mr-sp-35 {
    margin-right: 35px !important; }
  .u-mr-sp-40 {
    margin-right: 40px !important; }
  .u-mr-sp-45 {
    margin-right: 45px !important; }
  .u-mr-sp-50 {
    margin-right: 50px !important; }
  .u-mr-sp-55 {
    margin-right: 55px !important; }
  .u-mr-sp-60 {
    margin-right: 60px !important; }
  .u-mr-sp-65 {
    margin-right: 65px !important; }
  .u-mr-sp-70 {
    margin-right: 70px !important; }
  .u-mr-sp-75 {
    margin-right: 75px !important; }
  .u-mr-sp-80 {
    margin-right: 80px !important; }
  .u-mr-sp-85 {
    margin-right: 85px !important; }
  .u-mr-sp-90 {
    margin-right: 90px !important; }
  .u-mr-sp-95 {
    margin-right: 95px !important; }
  .u-mr-sp-100 {
    margin-right: 100px !important; }
  .u-mr-sp-105 {
    margin-right: 105px !important; }
  .u-mr-sp-110 {
    margin-right: 110px !important; }
  .u-mr-sp-115 {
    margin-right: 115px !important; }
  .u-mr-sp-120 {
    margin-right: 120px !important; }
  /* Bottom margin */
  .u-mb-sp-0 {
    margin-bottom: 0px !important; }
  .u-mb-sp-5 {
    margin-bottom: 5px !important; }
  .u-mb-sp-10 {
    margin-bottom: 10px !important; }
  .u-mb-sp-15 {
    margin-bottom: 15px !important; }
  .u-mb-sp-20 {
    margin-bottom: 20px !important; }
  .u-mb-sp-25 {
    margin-bottom: 25px !important; }
  .u-mb-sp-30 {
    margin-bottom: 30px !important; }
  .u-mb-sp-35 {
    margin-bottom: 35px !important; }
  .u-mb-sp-40 {
    margin-bottom: 40px !important; }
  .u-mb-sp-45 {
    margin-bottom: 45px !important; }
  .u-mb-sp-50 {
    margin-bottom: 50px !important; }
  .u-mb-sp-55 {
    margin-bottom: 55px !important; }
  .u-mb-sp-60 {
    margin-bottom: 60px !important; }
  .u-mb-sp-65 {
    margin-bottom: 65px !important; }
  .u-mb-sp-70 {
    margin-bottom: 70px !important; }
  .u-mb-sp-75 {
    margin-bottom: 75px !important; }
  .u-mb-sp-80 {
    margin-bottom: 80px !important; }
  .u-mb-sp-85 {
    margin-bottom: 85px !important; }
  .u-mb-sp-90 {
    margin-bottom: 90px !important; }
  .u-mb-sp-95 {
    margin-bottom: 95px !important; }
  .u-mb-sp-100 {
    margin-bottom: 100px !important; }
  .u-mb-sp-105 {
    margin-bottom: 105px !important; }
  .u-mb-sp-110 {
    margin-bottom: 110px !important; }
  .u-mb-sp-115 {
    margin-bottom: 115px !important; }
  .u-mb-sp-120 {
    margin-bottom: 120px !important; }
  /* Left margin */
  .u-ml-sp-0 {
    margin-left: 0px !important; }
  .u-ml-sp-5 {
    margin-left: 5px !important; }
  .u-ml-sp-10 {
    margin-left: 10px !important; }
  .u-ml-sp-15 {
    margin-left: 15px !important; }
  .u-ml-sp-20 {
    margin-left: 20px !important; }
  .u-ml-sp-25 {
    margin-left: 25px !important; }
  .u-ml-sp-30 {
    margin-left: 30px !important; }
  .u-ml-sp-35 {
    margin-left: 35px !important; }
  .u-ml-sp-40 {
    margin-left: 40px !important; }
  .u-ml-sp-45 {
    margin-left: 45px !important; }
  .u-ml-sp-50 {
    margin-left: 50px !important; }
  .u-ml-sp-55 {
    margin-left: 55px !important; }
  .u-ml-sp-60 {
    margin-left: 60px !important; }
  .u-ml-sp-65 {
    margin-left: 65px !important; }
  .u-ml-sp-70 {
    margin-left: 70px !important; }
  .u-ml-sp-75 {
    margin-left: 75px !important; }
  .u-ml-sp-80 {
    margin-left: 80px !important; }
  .u-ml-sp-85 {
    margin-left: 85px !important; }
  .u-ml-sp-90 {
    margin-left: 90px !important; }
  .u-ml-sp-95 {
    margin-left: 95px !important; }
  .u-ml-sp-100 {
    margin-left: 100px !important; }
  .u-ml-sp-105 {
    margin-left: 105px !important; }
  .u-ml-sp-110 {
    margin-left: 110px !important; }
  .u-ml-sp-115 {
    margin-left: 115px !important; }
  .u-ml-sp-120 {
    margin-left: 120px !important; } }

/* ==========================================================================
 padding
========================================================================== */
/* Top padding */
.u-pt-0 {
  padding-top: 0px !important; }

.u-pt-5 {
  padding-top: 5px !important; }

.u-pt-10 {
  padding-top: 10px !important; }

.u-pt-15 {
  padding-top: 15px !important; }

.u-pt-20 {
  padding-top: 20px !important; }

.u-pt-25 {
  padding-top: 25px !important; }

.u-pt-30 {
  padding-top: 30px !important; }

.u-pt-35 {
  padding-top: 35px !important; }

.u-pt-40 {
  padding-top: 40px !important; }

.u-pt-45 {
  padding-top: 45px !important; }

.u-pt-50 {
  padding-top: 50px !important; }

.u-pt-55 {
  padding-top: 55px !important; }

.u-pt-60 {
  padding-top: 60px !important; }

.u-pt-65 {
  padding-top: 65px !important; }

.u-pt-70 {
  padding-top: 70px !important; }

.u-pt-75 {
  padding-top: 75px !important; }

.u-pt-80 {
  padding-top: 80px !important; }

.u-pt-85 {
  padding-top: 85px !important; }

.u-pt-90 {
  padding-top: 90px !important; }

/* Right padding */
.u-pr-0 {
  padding-right: 0px !important; }

.u-pr-5 {
  padding-right: 5px !important; }

.u-pr-10 {
  padding-right: 10px !important; }

.u-pr-15 {
  padding-right: 15px !important; }

.u-pr-20 {
  padding-right: 20px !important; }

.u-pr-25 {
  padding-right: 25px !important; }

.u-pr-30 {
  padding-right: 30px !important; }

.u-pr-35 {
  padding-right: 35px !important; }

.u-pr-40 {
  padding-right: 40px !important; }

.u-pr-45 {
  padding-right: 45px !important; }

.u-pr-50 {
  padding-right: 50px !important; }

.u-pr-55 {
  padding-right: 55px !important; }

.u-pr-60 {
  padding-right: 60px !important; }

.u-pr-65 {
  padding-right: 65px !important; }

.u-pr-70 {
  padding-right: 70px !important; }

.u-pr-75 {
  padding-right: 75px !important; }

.u-pr-80 {
  padding-right: 80px !important; }

.u-pr-85 {
  padding-right: 85px !important; }

.u-pr-90 {
  padding-right: 90px !important; }

/* Bottom padding */
.u-pb-0 {
  padding-bottom: 0px !important; }

.u-pb-5 {
  padding-bottom: 5px !important; }

.u-pb-10 {
  padding-bottom: 10px !important; }

.u-pb-15 {
  padding-bottom: 15px !important; }

.u-pb-20 {
  padding-bottom: 20px !important; }

.u-pb-25 {
  padding-bottom: 25px !important; }

.u-pb-30 {
  padding-bottom: 30px !important; }

.u-pb-35 {
  padding-bottom: 35px !important; }

.u-pb-40 {
  padding-bottom: 40px !important; }

.u-pb-45 {
  padding-bottom: 45px !important; }

.u-pb-50 {
  padding-bottom: 50px !important; }

.u-pb-55 {
  padding-bottom: 55px !important; }

.u-pb-60 {
  padding-bottom: 60px !important; }

.u-pb-65 {
  padding-bottom: 65px !important; }

.u-pb-70 {
  padding-bottom: 70px !important; }

.u-pb-75 {
  padding-bottom: 75px !important; }

.u-pb-80 {
  padding-bottom: 80px !important; }

.u-pb-85 {
  padding-bottom: 85px !important; }

.u-pb-90 {
  padding-bottom: 90px !important; }

/* Left padding */
.u-pl-0 {
  padding-left: 0px !important; }

.u-pl-5 {
  padding-left: 5px !important; }

.u-pl-10 {
  padding-left: 10px !important; }

.u-pl-15 {
  padding-left: 15px !important; }

.u-pl-20 {
  padding-left: 20px !important; }

.u-pl-25 {
  padding-left: 25px !important; }

.u-pl-30 {
  padding-left: 30px !important; }

.u-pl-35 {
  padding-left: 35px !important; }

.u-pl-40 {
  padding-left: 40px !important; }

.u-pl-45 {
  padding-left: 45px !important; }

.u-pl-50 {
  padding-left: 50px !important; }

.u-pl-55 {
  padding-left: 55px !important; }

.u-pl-60 {
  padding-left: 60px !important; }

.u-pl-65 {
  padding-left: 65px !important; }

.u-pl-70 {
  padding-left: 70px !important; }

.u-pl-75 {
  padding-left: 75px !important; }

.u-pl-80 {
  padding-left: 80px !important; }

.u-pl-85 {
  padding-left: 85px !important; }

.u-pl-90 {
  padding-left: 90px !important; }

@media screen and (max-width: 767px) {
  /* Top padding */
  .u-pt-sp-0 {
    padding-top: 0px !important; }
  .u-pt-sp-5 {
    padding-top: 5px !important; }
  .u-pt-sp-10 {
    padding-top: 10px !important; }
  .u-pt-sp-15 {
    padding-top: 15px !important; }
  .u-pt-sp-20 {
    padding-top: 20px !important; }
  .u-pt-sp-25 {
    padding-top: 25px !important; }
  .u-pt-sp-30 {
    padding-top: 30px !important; }
  .u-pt-sp-35 {
    padding-top: 35px !important; }
  .u-pt-sp-40 {
    padding-top: 40px !important; }
  .u-pt-sp-45 {
    padding-top: 45px !important; }
  .u-pt-sp-50 {
    padding-top: 50px !important; }
  .u-pt-sp-55 {
    padding-top: 55px !important; }
  .u-pt-sp-60 {
    padding-top: 60px !important; }
  .u-pt-sp-65 {
    padding-top: 65px !important; }
  .u-pt-sp-70 {
    padding-top: 70px !important; }
  .u-pt-sp-75 {
    padding-top: 75px !important; }
  .u-pt-sp-80 {
    padding-top: 80px !important; }
  .u-pt-sp-85 {
    padding-top: 85px !important; }
  .u-pt-sp-90 {
    padding-top: 90px !important; }
  /* Right padding */
  .u-pr-sp-0 {
    padding-right: 0px !important; }
  .u-pr-sp-5 {
    padding-right: 5px !important; }
  .u-pr-sp-10 {
    padding-right: 10px !important; }
  .u-pr-sp-15 {
    padding-right: 15px !important; }
  .u-pr-sp-20 {
    padding-right: 20px !important; }
  .u-pr-sp-25 {
    padding-right: 25px !important; }
  .u-pr-sp-30 {
    padding-right: 30px !important; }
  .u-pr-sp-35 {
    padding-right: 35px !important; }
  .u-pr-sp-40 {
    padding-right: 40px !important; }
  .u-pr-sp-45 {
    padding-right: 45px !important; }
  .u-pr-sp-50 {
    padding-right: 50px !important; }
  .u-pr-sp-55 {
    padding-right: 55px !important; }
  .u-pr-sp-60 {
    padding-right: 60px !important; }
  .u-pr-sp-65 {
    padding-right: 65px !important; }
  .u-pr-sp-70 {
    padding-right: 70px !important; }
  .u-pr-sp-75 {
    padding-right: 75px !important; }
  .u-pr-sp-80 {
    padding-right: 80px !important; }
  .u-pr-sp-85 {
    padding-right: 85px !important; }
  .u-pr-sp-90 {
    padding-right: 90px !important; }
  /* Bottom padding */
  .u-pb-sp-0 {
    padding-bottom: 0px !important; }
  .u-pb-sp-5 {
    padding-bottom: 5px !important; }
  .u-pb-sp-10 {
    padding-bottom: 10px !important; }
  .u-pb-sp-15 {
    padding-bottom: 15px !important; }
  .u-pb-sp-20 {
    padding-bottom: 20px !important; }
  .u-pb-sp-25 {
    padding-bottom: 25px !important; }
  .u-pb-sp-30 {
    padding-bottom: 30px !important; }
  .u-pb-sp-35 {
    padding-bottom: 35px !important; }
  .u-pb-sp-40 {
    padding-bottom: 40px !important; }
  .u-pb-sp-45 {
    padding-bottom: 45px !important; }
  .u-pb-sp-50 {
    padding-bottom: 50px !important; }
  .u-pb-sp-55 {
    padding-bottom: 55px !important; }
  .u-pb-sp-60 {
    padding-bottom: 60px !important; }
  .u-pb-sp-65 {
    padding-bottom: 65px !important; }
  .u-pb-sp-70 {
    padding-bottom: 70px !important; }
  .u-pb-sp-75 {
    padding-bottom: 75px !important; }
  .u-pb-sp-80 {
    padding-bottom: 80px !important; }
  .u-pb-sp-85 {
    padding-bottom: 85px !important; }
  .u-pb-sp-90 {
    padding-bottom: 90px !important; }
  /* Left padding */
  .u-pl-sp-0 {
    padding-left: 0px !important; }
  .u-pl-sp-5 {
    padding-left: 5px !important; }
  .u-pl-sp-10 {
    padding-left: 10px !important; }
  .u-pl-sp-15 {
    padding-left: 15px !important; }
  .u-pl-sp-20 {
    padding-left: 20px !important; }
  .u-pl-sp-25 {
    padding-left: 25px !important; }
  .u-pl-sp-30 {
    padding-left: 30px !important; }
  .u-pl-sp-35 {
    padding-left: 35px !important; }
  .u-pl-sp-40 {
    padding-left: 40px !important; }
  .u-pl-sp-45 {
    padding-left: 45px !important; }
  .u-pl-sp-50 {
    padding-left: 50px !important; }
  .u-pl-sp-55 {
    padding-left: 55px !important; }
  .u-pl-sp-60 {
    padding-left: 60px !important; }
  .u-pl-sp-65 {
    padding-left: 65px !important; }
  .u-pl-sp-70 {
    padding-left: 70px !important; }
  .u-pl-sp-75 {
    padding-left: 75px !important; }
  .u-pl-sp-80 {
    padding-left: 80px !important; }
  .u-pl-sp-85 {
    padding-left: 85px !important; }
  .u-pl-sp-90 {
    padding-left: 90px !important; } }

/* ==========================================================================
 position
========================================================================== */
.u-pos-a {
  position: absolute !important; }

.u-pos-r {
  position: relative !important; }

.u-pos-s {
  position: static !important; }

/* ==========================================================================
 text-align
========================================================================== */
.u-ta-l {
  text-align: left !important; }

.u-ta-c {
  text-align: center !important; }

.u-ta-r {
  text-align: right !important; }

@media screen and (max-width: 767px) {
  .u-ta-l-sp {
    text-align: left !important; }
  .u-ta-c-sp {
    text-align: center !important; }
  .u-ta-r-sp {
    text-align: right !important; } }

/* ==========================================================================
 text-decoration
========================================================================== */
.u-td-u {
  text-decoration: underline !important; }

.u-td-n {
  text-decoration: none !important; }

/* ==========================================================================
 text-indent
========================================================================== */
.u-tx-inside0 {
  text-indent: 0 !important;
  padding-left: 0 !important; }

.u-tx-inside8 {
  text-indent: -0.8em !important;
  padding-left: 0.8em !important; }

.u-tx-inside9 {
  text-indent: -0.9em !important;
  padding-left: 0.9em !important; }

.u-tx-inside10 {
  text-indent: -1em !important;
  padding-left: 1em !important; }

.u-tx-inside11 {
  text-indent: -1.1em !important;
  padding-left: 1.1em !important; }

.u-tx-inside12 {
  text-indent: -1.2em !important;
  padding-left: 1.2em !important; }

.u-tx-inside13 {
  text-indent: -1.3em !important;
  padding-left: 1.3em !important; }

.u-tx-inside14 {
  text-indent: -1.4em !important;
  padding-left: 1.4em !important; }

.u-tx-inside15 {
  text-indent: -1.5em !important;
  padding-left: 1.5em !important; }

.u-tx-inside16 {
  text-indent: -1.6em !important;
  padding-left: 1.6em !important; }

.u-tx-inside17 {
  text-indent: -1.7em !important;
  padding-left: 1.7em !important; }

.u-tx-inside18 {
  text-indent: -1.8em !important;
  padding-left: 1.8em !important; }

.u-tx-inside19 {
  text-indent: -1.9em !important;
  padding-left: 1.9em !important; }

.u-tx-inside20 {
  text-indent: -2em !important;
  padding-left: 2em !important; }

.u-tx-insideW8 {
  text-indent: -2em !important;
  padding-left: 2.4em !important; }

.u-tx-insideW9 {
  text-indent: -2.3em !important;
  padding-left: 2.7em !important; }

.u-tx-insideW10 {
  text-indent: -2.6em !important;
  padding-left: 3em !important; }

.u-tx-insideW11 {
  text-indent: -2.9em !important;
  padding-left: 3.3em !important; }

.u-tx-insideW12 {
  text-indent: -3.2em !important;
  padding-left: 3.6em !important; }

.u-tx-insideW13 {
  text-indent: -3.5em !important;
  padding-left: 3.9em !important; }

.u-tx-insideW14 {
  text-indent: -3.8em !important;
  padding-left: 4.2em !important; }

.u-tx-insideW15 {
  text-indent: -4.1em !important;
  padding-left: 4.5em !important; }

.u-tx-insideW16 {
  text-indent: -4.4em !important;
  padding-left: 4.8em !important; }

.u-tx-insideW17 {
  text-indent: -4.7em !important;
  padding-left: 5.1em !important; }

.u-tx-insideW18 {
  text-indent: -5em !important;
  padding-left: 5.4em !important; }

.u-tx-insideW19 {
  text-indent: -5.3em !important;
  padding-left: 5.7em !important; }

.u-tx-insideW20 {
  text-indent: -5.6em !important;
  padding-left: 6em !important; }

/* ==========================================================================
 width
========================================================================== */
.u-w-auto {
  width: auto !important; }

.u-w-full {
  width: 100% !important; }

.u-w-threeQuarter {
  width: 75% !important; }

.u-w-half {
  width: 50% !important; }

.u-w-quarter {
  width: 25% !important; }

/* ==========================================================================
 height
========================================================================== */
.u-h-5 {
  min-height: 5vh !important; }

.u-h-10 {
  min-height: 10vh !important; }

.u-h-15 {
  min-height: 15vh !important; }

.u-h-20 {
  min-height: 20vh !important; }

.u-h-25 {
  min-height: 25vh !important; }

.u-h-30 {
  min-height: 30vh !important; }

.u-h-35 {
  min-height: 35vh !important; }

.u-h-40 {
  min-height: 40vh !important; }

.u-h-45 {
  min-height: 45vh !important; }

.u-h-50 {
  min-height: 50vh !important; }

.u-h-55 {
  min-height: 55vh !important; }

.u-h-60 {
  min-height: 60vh !important; }

.u-h-65 {
  min-height: 65vh !important; }

.u-h-70 {
  min-height: 70vh !important; }

.u-h-75 {
  min-height: 75vh !important; }

.u-h-80 {
  min-height: 80vh !important; }

.u-h-85 {
  min-height: 85vh !important; }

.u-h-90 {
  min-height: 90vh !important; }

.u-h-95 {
  min-height: 95vh !important; }

.u-h-100 {
  min-height: 100vh !important; }

/* ==========================================================================
 letter-spacing
========================================================================== */
.u-ls-1 {
  letter-spacing: -.1em !important; }

/* ==========================================================================
 cursor
========================================================================== */
.u-cs-pointer {
  cursor: pointer !important; }

.u-cs-default {
  cursor: default !important; }

/* ==========================================================================
 background-color
========================================================================== */
.u-bgclr-black {
  background-color: #000 !important; }

.u-bgclr-white {
  background-color: #fff !important; }

/* ==========================================================================
 line-height
========================================================================== */
.u-lh-0 {
  line-height: 0 !important; }

.u-lh-1 {
  line-height: 0.1 !important; }

.u-lh-2 {
  line-height: 0.2 !important; }

.u-lh-3 {
  line-height: 0.3 !important; }

.u-lh-4 {
  line-height: 0.4 !important; }

.u-lh-5 {
  line-height: 0.5 !important; }

.u-lh-6 {
  line-height: 0.6 !important; }

.u-lh-7 {
  line-height: 0.7 !important; }

.u-lh-8 {
  line-height: 0.8 !important; }

.u-lh-9 {
  line-height: 0.9 !important; }

.u-lh-10 {
  line-height: 1 !important; }

.u-lh-11 {
  line-height: 1.1 !important; }

.u-lh-12 {
  line-height: 1.2 !important; }

.u-lh-13 {
  line-height: 1.3 !important; }

.u-lh-14 {
  line-height: 1.4 !important; }

.u-lh-15 {
  line-height: 1.5 !important; }

.u-lh-16 {
  line-height: 1.6 !important; }

.u-lh-17 {
  line-height: 1.7 !important; }

.u-lh-18 {
  line-height: 1.8 !important; }

.u-lh-19 {
  line-height: 1.9 !important; }

.u-lh-20 {
  line-height: 2 !important; }

/* -----------------------------------------------------------------
 Js
----------------------------------------------------------------- */
