/* ==========================================================================
 font-weight
========================================================================== */
.u-fw-thin {
  font-weight: var(--fw-thin) !important;
}

.u-fw-light {
  font-weight: var(--fw-light) !important;
}

.u-fw-regular {
  font-weight: var(--fw-regular) !important;
}

.u-fw-medium {
  font-weight: var(--fw-medium) !important;
}
.u-fw-bold {
  font-weight: var(--fw-bold) !important;
}
.u-fw-black {
  font-weight: var(--fw-black) !important;
}
